# Hosts file -- Don't edit manually!
#
# {{ ansible_managed }}

127.0.0.1  localhost
127.0.0.1  {{ ansible_hostname }}   {{ utility_hostname }}

# Basic IPv6 entries
::1      ip6-localhost  ip6-loopback
fe00::0  ip6-localnet
ff00::0  ip6-mcastprefix
ff02::1  ip6-allnodes
ff02::2  ip6-allrouters

{% if utility_hosts_entries|length != 0 %}
# Custom entries
{% for host in utility_hosts_entries %}
{{ host.ip }}  {{ host.name }} {{ host.aliases | default('') | join(' ') }}
{% endfor %}
{% endif %}
{% if utility_hosts_file_snippets|length != 0 %}

#
# Hosts file snippets
#
{% for snippet in utility_hosts_file_snippets %}
{% include snippet %}

{% endfor %}
{% endif %}