apiVersion: v1
kind: Secret
metadata:
  name: ca-key-pair
  namespace: cert-manager
type: kubernetes.io/tls
data:
  tls.crt: {{ k8s_init_cert_manager_ca_crt }}
  tls.key: {{ k8s_init_cert_manager_ca_key }}