apiVersion: v1
kind: Secret
metadata:
  name: ingress-nginx-default-tls
  namespace: nginx-system
type: kubernetes.io/tls
data:
  tls.crt: {{ ingress_nginx_tls_crt }}
  tls.key: {{ ingress_nginx_tls_key }}