apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-harbor-database
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ k8s_harbor_nfs_server }}
    path: "/mnt/nfs/ssd_0/pv-harbor-database"
  mountOptions:
    - nfsvers=4.2