apiVersion: v1
kind: Secret
metadata:
  name: harbor-registry-secret
  namespace: harbor-system
type: Opaque
stringData:
  REGISTRY_PASSWD: {{ k8s_harbor_registry_password }}
  REGISTRY_HTPASSWD: {{ k8s_harbor_registry_htpasswd }}