apiVersion: v1
kind: Secret
metadata:
  name: authentik-admin-secret
  namespace: authentik-system
type: Opaque
stringData:
  email: {{ ak_admin_email }}
  password: {{ ak_admin_password }}
  token: {{ ak_admin_token }}