apiVersion: v1
kind: Service
metadata:
  name: nfs-server
  namespace: default
  labels:
    app.kubernetes.io/name: nfs-server
    jobLabel: node-exporter
spec:
  type: ClusterIP
  #externalName: 192.168.1.100
  ports:
    - name: http-metrics
      port: 9100
      protocol: TCP
      targetPort: 9100
---
apiVersion: v1
kind: Endpoints
metadata:
  name: nfs-server
  namespace: default
  labels:
    app.kubernetes.io/name: nfs-server
subsets:
- addresses:
  - ip: 192.168.1.100
  ports:
  - name: http-metrics
    port: 9100
    protocol: TCP
