ingress:
  annotations:
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    cert-manager.io/common-name: "gitea.{{ kubernetes_ingress_root_domain }}"
    cert-manager.io/email-sans: hiteshnayak305@gmail.com
    cert-manager.io/subject-organizations: DEV
    cert-manager.io/subject-organizationalunits: DEV
    cert-manager.io/subject-countries: IN
    cert-manager.io/subject-localities: PUNE
    cert-manager.io/subject-streetaddresses: MH
    cert-manager.io/usages: server auth,client auth
    cert-manager.io/private-key-algorithm: RSA
    cert-manager.io/private-key-size: "4096"
    nginx.ingress.kubernetes.io/proxy-body-size: 200m
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  hosts:
    - host: gitea.{{ kubernetes_ingress_root_domain }}
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: gitea-tls
      hosts:
        - "gitea.{{ kubernetes_ingress_root_domain }}"
gitea:
  admin:
    email: gitea@gitea.{{ kubernetes_ingress_root_domain }}
  # Either specify inline `key` and `secret` or refer to them via `existingSecret`
  ## @param gitea.oauth OAuth configuration
  oauth:
    - name: 'keycloak'
      provider: openidConnect
      existingSecret: gitea-oauth-secret
      autoDiscoverUrl: https://keycloak.{{ kubernetes_ingress_root_domain }}/realms/main/.well-known/openid-configuration
  config:
    server:
      DOMAIN: gitea.{{ kubernetes_ingress_root_domain }}
      ROOT_URL: https://gitea.{{ kubernetes_ingress_root_domain }}/
      SSH_DOMAIN: gitea.{{ kubernetes_ingress_root_domain }}
    repository.signing:
      SIGNING_EMAIL: gitea@gitea.{{ kubernetes_ingress_root_domain }}
    webhook:
      ALLOWED_HOST_LIST: "*.{{ kubernetes_ingress_root_domain }}"
