apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kubernetes-dashboard
  namespace: kubernetes-dashboard
  annotations:
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    cert-manager.io/common-name: "kube.{{ kubernetes_ingress_root_domain }}"
    cert-manager.io/email-sans: hiteshnayak305@gmail.com
    cert-manager.io/subject-organizations: DEV
    cert-manager.io/subject-organizationalunits: DEV
    cert-manager.io/subject-countries: IN
    cert-manager.io/subject-localities: PUNE
    cert-manager.io/subject-streetaddresses: MH
    cert-manager.io/usages: server auth,client auth
    cert-manager.io/private-key-algorithm: RSA
    cert-manager.io/private-key-size: "4096"
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  rules:
    - host: kube.{{ kubernetes_ingress_root_domain }}
      http:
        paths:
          - backend:
              service:
                name: kubernetes-dashboard-kong-proxy
                port:
                  number: 443
            path: /
            pathType: ImplementationSpecific
  tls:
    - hosts:
      - kube.{{ kubernetes_ingress_root_domain }}
      secretName: kubernetes-dashboard-tls
