apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-grafana
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ k8s_grafana_nfs_server }}
    path: "/mnt/nfs/ssd_0/pv-grafana"
  mountOptions:
    - nfsvers=4.2