server:
  ingress:
    ## Prometheus server Ingress hostnames with optional path
    ## Must be provided if Ingress is enabled
    ##
    hosts:
      - prometheus.{{ kubernetes_ingress_root_domain }}
