apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        rewrite name regex .*\.{{ kubernetes_ingress_root_domain | replace('.','\.') }} ingress-nginx-internal-controller.nginx-system.svc.cluster.local
{% if coredns_entries|length != 0 %}
{% for entry in coredns_entries %}
        rewrite name {{ entry.type }} {{ entry.from }} {{ entry.to }}
{% endfor %}
{% endif %}
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        prometheus :9153
        forward . /etc/resolv.conf {
           max_concurrent 1000
        }
        cache 30
        loop
        reload
        loadbalance
    }
