apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-secret
  namespace: grafana-system
type: Opaque
stringData:
  admin-user: {{ grafana_admin_user }}
  admin-password: {{ grafana_admin_password }}
  