ingress:
  hostname: "keycloak.{{ k8s_keycloak_ingress_root_domain }}"
  annotations:
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    cert-manager.io/common-name: "keycloak.{{ k8s_keycloak_ingress_root_domain }}"
    cert-manager.io/email-sans: hiteshnayak305@gmail.com
    cert-manager.io/subject-organizations: DEV
    cert-manager.io/subject-organizationalunits: DEV
    cert-manager.io/subject-countries: IN
    cert-manager.io/subject-localities: PUNE
    cert-manager.io/subject-streetaddresses: MH
    cert-manager.io/usages: server auth,client auth
    cert-manager.io/private-key-algorithm: RSA
    cert-manager.io/private-key-size: "4096"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-buffers-number: '4'
    nginx.ingress.kubernetes.io/proxy-buffer-size: '16k'
  tls: true

adminIngress:
  hostname: "admin.keycloak.{{ k8s_keycloak_ingress_root_domain }}"
  annotations:
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    cert-manager.io/common-name: "admin.keycloak.{{ k8s_keycloak_ingress_root_domain }}"
    cert-manager.io/email-sans: hiteshnayak305@gmail.com
    cert-manager.io/subject-organizations: DEV
    cert-manager.io/subject-organizationalunits: DEV
    cert-manager.io/subject-countries: IN
    cert-manager.io/subject-localities: PUNE
    cert-manager.io/subject-streetaddresses: MH
    cert-manager.io/usages: server auth,client auth
    cert-manager.io/private-key-algorithm: RSA
    cert-manager.io/private-key-size: "4096"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-buffers-number: '4'
    nginx.ingress.kubernetes.io/proxy-buffer-size: '16k'
  tls: true