# gpg --armor --export-secret-keys
apiVersion: v1
kind: Secret
metadata:
  name: gitea-gpg-key
  namespace: gitea-system
type: Opaque
stringData:
  privateKey: |-
{{ k8s_gitea_gpg_key | indent(width=4, first=True) }}