apiVersion: v1
kind: Secret
metadata:
  name: gitea-admin-secret
  namespace: gitea-system
type: Opaque
stringData:
  username: {{ k8s_gitea_admin_username }}
  password: {{ k8s_gitea_admin_password }}