apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-jenkins-workspace
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ k8s_jenkins_nfs_server }}
    path: "/mnt/nfs/ssd_0/pv-jenkins-workspace"
  mountOptions:
    - nfsvers=4.2
