apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-jenkins-sonar-cache-maven
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ nfs_server }}
    path: "/mnt/nfs/ssd_0/pv-jenkins-sonar-cache-maven"
  mountOptions:
    - nfsvers=4.2
