kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: grafana-internal
  namespace: grafana-system
  annotations:
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    cert-manager.io/common-name: "grafana.{{ k8s_grafana_ingress_root_domain }}"
    cert-manager.io/email-sans: hiteshnayak305@gmail.com
    cert-manager.io/private-key-algorithm: RSA
    cert-manager.io/private-key-size: '4096'
    cert-manager.io/subject-countries: IN
    cert-manager.io/subject-localities: PUNE
    cert-manager.io/subject-organizationalunits: DEV
    cert-manager.io/subject-organizations: DEV
    cert-manager.io/subject-streetaddresses: MH
    cert-manager.io/usages: server auth,client auth
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
spec:
  ingressClassName: nginx-internal
  tls:
    - hosts:
        - "grafana.{{ k8s_grafana_ingress_root_domain }}"
      secretName: grafana-tls-internal
  rules:
    - host: "grafana.{{ k8s_grafana_ingress_root_domain }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: grafana
                port:
                  number: 80
