# class name nfs-hdd-0-<reclaim-policy>-<on-delete>
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "nfs-hdd-0-{{ utility_reclaim_policy | lower }}-{{ utility_on_delete | lower }}"
provisioner: nfs.csi.k8s.io
parameters:
  server: "{{ k8s_init_nfs_server }}"
  share: /mnt/nfs/hdd_0
  subDir: "provisioner/${pvc.metadata.namespace}-${pvc.metadata.name}"
  onDelete: "{{ utility_on_delete }}"
  # csi.storage.k8s.io/provisioner-secret is only needed for providing mountOptions in DeleteVolume
  csi.storage.k8s.io/provisioner-secret-name: "mount-options"
  csi.storage.k8s.io/provisioner-secret-namespace: "kube-csi-driver-nfs"
reclaimPolicy: "{{ utility_reclaim_policy }}"
volumeBindingMode: Immediate
mountOptions:
  - nfsvers=4.1
