apiVersion: v1
kind: Secret
metadata:
  name: casdoor-mysql-secret
  namespace: casdoor-system
type: Opaque
stringData:
  mysql-root-password: {{ casdoor_mysql_root_password }}
  mysql-replication-password: {{ casdoor_mysql_password }}
  mysql-password: {{ casdoor_mysql_password }}
