apiVersion: v1
kind: Secret
metadata:
  name: casdoor-admin-secret
  namespace: casdoor-system
type: Opaque
stringData:
  username: {{ casdoor_admin_username }}
  password: {{ casdoor_admin_password }}