kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: gitea-internal
  namespace: gitea-system
  annotations:
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    cert-manager.io/common-name: "gitea.{{ k8s_gitea_ingress_root_domain }}"
    cert-manager.io/email-sans: hiteshnayak305@gmail.com
    cert-manager.io/private-key-algorithm: RSA
    cert-manager.io/private-key-size: '4096'
    cert-manager.io/subject-countries: IN
    cert-manager.io/subject-localities: PUNE
    cert-manager.io/subject-organizationalunits: DEV
    cert-manager.io/subject-organizations: DEV
    cert-manager.io/subject-streetaddresses: MH
    cert-manager.io/usages: server auth,client auth
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-body-size: 200m
spec:
  ingressClassName: nginx-internal
  tls:
    - hosts:
        - "gitea.{{ k8s_gitea_ingress_root_domain }}"
      secretName: gitea-tls-internal
  rules:
    - host: "gitea.{{ k8s_gitea_ingress_root_domain }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: gitea-http
                port:
                  number: 3000
