apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-keycloak-postgresql-ha-primary
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ k8s_keycloak_nfs_server }}
    path: "/mnt/nfs/ssd_0/pv-keycloak-postgresql-ha-primary"
  mountOptions:
    - nfsvers=4.2