apiVersion: v1
kind: ConfigMap
metadata:
  name: casdoor-init-data
  namespace: casdoor-system
data:
  init_data.json: |
    {
      "organizations": [],
      "applications": [],
      "users": [
        {
          "owner": "built-in",
          "name": "{{ casdoor_admin_username }}",
          "type": "normal-user",
          "password": "{{ casdoor_admin_password }}",
          "displayName": "Hitesh Nayak",
          "email": "hiteshnayak305@gmail.com",
          "emailVerified": true,
          "countryCode": "US",
          "region": "IN",
          "ranking": 2,
          "isAdmin": true,
          "isForbidden": false,
          "isDeleted": false,
          "signupApplication": "app-built-in"
        }
      ],
      "providers": [],
      "certs": [],
      "ldaps": [],
      "models": [],
      "permissions": [],
      "payments": [],
      "products": [],
      "resources": [],
      "roles": [],
      "syncers": [],
      "tokens": [],
      "webhooks": []
    }
