apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-gitea
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server }}
    path: "/mnt/nfs/ssd_0/pv-gitea"
  mountOptions:
    - nfsvers=4.2