controller:
  jenkinsAdminEmail: jenkins@jenkins.{{ kubernetes_ingress_root_domain }}
  # If you are not using the provided ingress you can specify `controller.jenkinsUrl` to change the url definition.
  # jenkinsUrl: "https://jenkins.{{ kubernetes_ingress_root_domain }}"
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: ca-cluster-issuer
      cert-manager.io/common-name: "jenkins.{{ kubernetes_ingress_root_domain }}"
      cert-manager.io/email-sans: hiteshnayak305@gmail.com
      cert-manager.io/subject-organizations: DEV
      cert-manager.io/subject-organizationalunits: DEV
      cert-manager.io/subject-countries: IN
      cert-manager.io/subject-localities: PUNE
      cert-manager.io/subject-streetaddresses: MH
      cert-manager.io/usages: server auth,client auth
      cert-manager.io/private-key-algorithm: RSA
      cert-manager.io/private-key-size: "4096"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hostName: "jenkins.{{ kubernetes_ingress_root_domain }}"
    tls:
      - secretName: ingress-jenkins-tls
        hosts:
          - "jenkins.{{ kubernetes_ingress_root_domain }}"