## Deploy a Prometheus instance
##
prometheus:
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: ca-cluster-issuer
      cert-manager.io/common-name: "prometheus.{{ kubernetes_ingress_root_domain }}"
      cert-manager.io/email-sans: hiteshnayak305@gmail.com
      cert-manager.io/subject-organizations: DEV
      cert-manager.io/subject-organizationalunits: DEV
      cert-manager.io/subject-countries: IN
      cert-manager.io/subject-localities: PUNE
      cert-manager.io/subject-streetaddresses: MH
      cert-manager.io/usages: server auth,client auth
      cert-manager.io/private-key-algorithm: RSA
      cert-manager.io/private-key-size: "4096"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - "prometheus.{{ kubernetes_ingress_root_domain }}"
    tls:
      - secretName: prometheus-server-tls
        hosts:
          - "prometheus.{{ kubernetes_ingress_root_domain }}"