apiVersion: v1
kind: Secret
metadata:
  name: git-gitea-secret
  namespace: jenkins
type: Opaque
stringData:
  username: {{ k8s_jenkins_git_gitea_username }}
  password: {{ k8s_jenkins_git_gitea_password }}
