apiVersion: v1
kind: Secret
metadata:
  name: gitea-credentials-secret
  namespace: jenkins
type: Opaque
stringData:
  gitea-admin-user: {{ gitea_admin_username }}
  gitea-admin-password: {{ gitea_admin_password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-docker-credentials-secret
  namespace: jenkins
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ gitea_docker_config_json_base64 }}
  config.json: {{ gitea_docker_config_json_base64 }}