apiVersion: v1
kind: Secret
metadata:
  name: jenkins-admin-secret
  namespace: jenkins
type: Opaque
stringData:
  jenkins-admin-user: {{ jenkins_admin_username }}
  jenkins-admin-password: {{ jenkins_admin_password }}