apiVersion: v1
kind: Secret
metadata:
  name: jenkins-credentials-secret
  namespace: jenkins
type: Opaque
stringData:
  gitea-admin-user: {{ gitea_admin_username }}
  gitea-admin-password: {{ gitea_admin_password }}
  gitea-docker-registry-configjson: '{{ gitea_docker_config_json }}'
  kubectl-config: |-
{{ kubectl_config | indent(width=4, first=True) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-docker-credentials-secret
  namespace: jenkins
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ gitea_docker_config_json_base64 }}