apiVersion: v1
kind: Secret
metadata:
  name: jenkins-admin-secret
  namespace: jenkins
type: Opaque
stringData:
  jenkins-admin-user: {{ k8s_jenkins_admin_username }}
  jenkins-admin-password: {{ k8s_jenkins_admin_password }}