apiVersion: v1
kind: Secret
metadata:
  name: mail-credentials-secret
  namespace: jenkins
type: Opaque
stringData:
  mail-admin-user: {{ mail_admin_username }}
  mail-admin-password: {{ mail_admin_password }}