apiVersion: v1
kind: Secret
metadata:
  name: mail-gmail-selfhost-secret
  namespace: jenkins
type: Opaque
stringData:
  username: {{ k8s_jenkins_mail_selfhost_username }}
  password: {{ k8s_jenkins_mail_selfhost_password }}