apiVersion: v1
kind: Secret
metadata:
  name: test-casdoor-credentials-secret
  namespace: jenkins
type: Opaque
stringData:
  client-id: {{ test_casdoor_client_id }}
  client-secret: {{ test_casdoor_client_secret }}