apiVersion: v1
kind: Secret
metadata:
  name: test-authentik-credentials-secret
  namespace: jenkins
type: Opaque
stringData:
  client-id: {{ test_authentik_client_id }}
  client-secret: {{ test_authentik_client_secret }}