## Kubernetes event exporter configuration, rendered as a template
## ref: https://github.com/resmoio/kubernetes-event-exporter#configuration
## @param config.logLevel Verbosity of the logs (options: `fatal`, `error`, `warn`, `info` or `debug`)
## @param config.logFormat How the logs are formatted. Allowed values: `pretty` or `json`
## @param config.receivers [array] Array containing event receivers
## @param config.route.routes [array] Array containing event route configuration
##
config:
  receivers:
    - name: "dump"
      file:
        path: "/dev/stdout"
        layout: {}
    - name: "loki"
      loki:
        streamLabels:
          app: kube-event-exporter
        url: https://loki.{{ kubernetes_ingress_root_domain }}/loki/api/v1/push