apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ingress-nginx-default-tls
  namespace: nginx-system
spec:
  secretName: ingress-nginx-default-tls
  subject:
    organizations:
      - DEV
    countries:
      - IN
    organizationalUnits:
      - DEV
    localities:
      - PUNE
    streetAddresses:
      - MH
  commonName: "{{ k8s_init_ingress_root_domain }}"
  isCA: false
  privateKey:
    algorithm: RSA
    size: 4096
  usages:
    - server auth
    - client auth
  dnsNames:
    - "{{ k8s_init_ingress_root_domain }}"
  ipAddresses:
    - 192.168.1.50
    - 100.100.1.199
  emailAddresses:
    - hiteshnayak305@gmail.com
  issuerRef:
    name: ca-cluster-issuer
    kind: ClusterIssuer
    group: cert-manager.io
