apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ k8s_init_metallb_ip_address_pool }}
  namespace: metallb-system
spec:
  addresses:
    - {{ k8s_init_metallb_ip_address_range }}
  autoAssign: false
