apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ metallb_ip_address_pool }}
  namespace: metallb-system
spec:
  addresses:
    - {{ metallb_ip_address_range }}
  autoAssign: false
