apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-sonarqube
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ nfs_server }}
    path: "/mnt/nfs/ssd_0/pv-sonarqube"
  mountOptions:
    - nfsvers=4.2
