apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    grafana_datasource: '1'
    release: tempo
  name: tempo-grafana-datasource
  namespace: tempo-system
data:
  datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: "Tempo"
      type: tempo
      uid: tempo
      url: "https://tempo.{{ kubernetes_ingress_root_domain }}/"
      access: proxy
